<div class="white-bg report-header postitionRelative">

    <div ng-if="newReportActive!=true" ng-show="newReportActive!=true" class="row">
        <div class="col col-xs-24 col-sm-12 col-md-12 col-lg-12">
            <div class="dashboardTemplate-items">
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 reportNameEdit">
                    <p>Report Builder</p>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-right reportNameEdit">
                    <!--<button class="grey rightMargin add-reportBtn" ng-click="showDrafts(true)">Show Drafts-->
                    <!--</button>-->
                    <div class="checkbox rightMargin add-reportBtn" style="width: 90% !important;">
                        <label><input type="checkbox"  id="showDraftsBtn" checked="checked" ng-click="toggleDrafts()">Drafts</label>
                    </div>

                </div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-right">
                    <!--<button class="grey rightMargin add-reportBtn" ng-click="showDrafts(true)">Show Drafts-->
                    <!--</button>-->
                    <!--<div class="checkbox rightMargin add-reportBtn">-->
                    <!--<label><input type="checkbox"  id="showDraftsBtn" checked="checked">Drafts</label>-->
                    <!--</div>-->
                    <button class="orange add-reportBtn" style="font-size: 12px !important;"ng-click="addNewReport(true)">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Report
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="newReportActive==true" ng-show="newReportActive==true" class="row">
        <div class="col col-xs-24 col-sm-12 col-md-12 col-lg-12">
            <div class="dashboardTemplate-items">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 reportNameEdit">
                    <p >Report Builder</p>
                </div >
                <!--<div class="col-sm-8 col-md-8 col-lg-8 text-right" ng-show="dashboardList != null && gridloading === false "  style="height: 100px !important;margin:10px !important;">-->
                <!--<button class="componentBtn btn-4 btn-4b icon-arrow-left" id="reportBackButton"-->
                <!--ng-click="addNewReport(false)">-->
                <!--Previous-->
                <!--</button>-->
                <!--<button class="ladda-button  componentBtn btn-4 btn-4a " data-style="expand-right" id="reportFinishButton"-->
                <!--disabled="disabled" ng-click="createNewReport(selectedDashboards)">-->
                <!--<span class="ladda-label">Finish</span>-->
                <!--<span class="ladda-spinner"></span>-->
                <!--<div class="ladda-progress"  style="width:72px;"></div>-->
                <!--</button>-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <div  class="col-xs-6 col-sm-4 col-md-4 col-lg-4 reportNameEdit">
                    <a title="Click to rename this Report" id='reset-btn' href="#" ng-model="customReportName" editable-text="customReportName"    onaftersave="changeReportName(customReportName)"  e-maxlength="35">
                        <pre ng-style="!!customReportName  && {'font-color':'#999 !important'}  || customReportName  && {'font-color':'#000 !important'}">{{customReportName  || 'Click to name your Report'}}</pre>
                        <i class="fa fa-pencil hover-icon" aria-hidden="true" style="font-size: 1.5em;margin-top: 6px;color:#000;display:none"></i>
                    </a>
                </div >
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-right">
                    <button class="orange rightMargin add-reportBtn" ng-click="addNewReport(false)">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back
                    </button>
                    <button id="reportFinishButton" class="orange rightMargin add-reportBtn" ng-click="createNewReport(selectedDashboards)">
                        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Finish
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--<p ng-if='newReportActive!=true'>Build a Report From your Dashboard</p>-->
    <!--<p ng-if='newReportActive==true'>Choose a Dashboard for your Report</p>-->
</div>
<div ng-if='newReportActive==true' ng-init="fetchAllDashboards()" class="wrapper wrapper-content postitionRelative greyish-bg">
    <div ng-if="gridloading === true"  class="spiner-example">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </div>

    <div class="row" ng-show="dashboardList != null && gridloading === false">
        <div class="col col-sm-12 col-md-12 col-lg-12 center dashboardTemplate-items">
            <p style="color:#000;font-size:18px;font-family:Montserrat-Medium;padding:5px">Select Dashboards:</p>
        </div>
    </div>
    <div class="gridAlign scroller"  ng-show="dashboardList != null && gridloading === false " ng-style="{'height': dashboardHeight+'px'}">
        <div class="col col-lg-2 grid-font grid-text"  ng-repeat="dashboard in dashboardList" ng-click="selectDashboard(dashboard)" ng-style="dashboard.isSelected==true  && {'border': '2px solid #04509B'}  || dashboard.isSelected==true && {'border': '0px solid #eaeff3'} " >
            <div style="height: 10px; cursor: pointer;" ng-if="dashboard.isSelected==true" class="col-lg-1 pull-right"><i class="fa fa-check" style="color: green" aria-hidden="true"></i></div>
            <div style="height: 40px" class="contentName">
                <div class="dashboards col-lg-2"  ng-if="(dashboard.name == null || dashboard.name==' ')" >
                    <a style="color:#9A9A9A">Unnamed Dashboard</a>
                </div>

                <div class="dashboards col-lg-2" ng-if="dashboard.name != null">
                    <a style="color:#000">{{dashboard.name}}</a>
                </div>
            </div>
        </div>
        <div class="center grid-font" ng-if="dashboardList.length===0 || dashboardList==null "><p>You don't have access to any dashboards yet</p></div>
    </div>
    <!--<div class="col col-sm-12 col-md-12 col-lg-12 text-right" ng-show="dashboardList != null && gridloading === false "  style="height: 100px !important;margin:10px !important;">-->
    <!--<button class="componentBtn btn-4 btn-4b icon-arrow-left" id="reportBackButton"-->
    <!--ng-click="addNewReport(false)">-->
    <!--Previous-->
    <!--</button>-->
    <!--<button class="ladda-button  componentBtn btn-4 btn-4a " data-style="expand-right" id="reportFinishButton"-->
    <!--disabled="disabled" ng-click="createNewReport(selectedDashboards)">-->
    <!--<span class="ladda-label">Finish</span>-->
    <!--<span class="ladda-spinner"></span>-->
    <!--<div class="ladda-progress"  style="width:72px;"></div>-->
    <!--</button>-->
    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
</div>

<div ng-if="newReportActive!=true" ng-init="fetchAllReports();" class="wrapper wrapper-content postitionRelative gridTableAlign greyish-bg" ng-style="{'height': docHeight+'px'}">

    <div ng-show="gridloading === true"  class="spiner-example">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </div>
    <!--<div class="form-group" ng-if="dashboardList != null && gridloading === false" >-->
    <!--<label class="font-noraml">Multi select</label>-->
    <!--<div class="input-group">-->
    <!--<select data-placeholder="Choose Dashboards" class="chosen-select" multiple style="width:350px;" tabindex="4" ng-model="selectedDashboardList" chosenLinker ng-options="dashboard.name for dashboard in dashboardList">-->
    <!--&lt;!&ndash;<option value="{{dashboard}}" ng-repeat="dashboard in dashboardList">{{dashboard.name || 'unnamed'}} </option>&ndash;&gt;-->
    <!--</select>-->
    <!--</div>-->
    <!--<p ng-repeat="selectDash in selectedDashboardList">{{selectDash.name}}</p>-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<em>Multiple Select</em>&ndash;&gt;-->
    <!--&lt;!&ndash;<select data-placeholder="Your Favorite Types of Bear" style="width:350px;" multiple class="chosen-select" tabindex="8">&ndash;&gt;-->
    <!--&lt;!&ndash;<option value=""></option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option>American Black Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option>Asiatic Black Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option>Brown Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option>Giant Panda</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option selected>Sloth Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option disabled>Sun Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option selected>Polar Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option disabled>Spectacled Bear</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="container" ng-show="reportList != null && gridloading === false" style="padding-top:20px;">
        <div class="row reportListingGrid" style="background: #232c3b;color: #ffffff">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Report Name</div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 center">Actions</div>
            </div>
        </div>
        <div class="row reportListingGrid"  ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="report in reportList| filter: (!disableFilter || '') &&  myFilter">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div ng-if="(report.name == null || report.name=='')" ng-show="(report.name == null || report.name=='')" class="col-xs-4col-sm-4 col-md-4 col-lg-4">Untitled Report</div>
                <div ng-if="report.name!=''" ng-show="report.name!=''" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{report.name}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='color:#666;text-style:underline' ng-if="report.isDraft == true || disableFilter!=false" ng-hide="report.isDraft != true || disableFilter==false" ><span style="background-color: #ddd"> Draft </span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style='color:red;text-style:underline' ng-if="report.isDraft != true || disableFilter==false" ng-show="report.isDraft != true || disableFilter==false" ></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a title="Edit this Report" ng-click="editReport(report)" ng-hide="report.dashboardDeleted == true"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #ff6c3a"></i> Edit &nbsp; </a></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a title="Delete Widget" ng-click="deleteReport(report)"><i class="glyphicon glyphicon-trash favigon-img" style="color: #ff6c3a"></i>Delete</a></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a title="Click to open PDF of this report" ng-show="report.pdfLink != null" ng-click="openReportPDF(report)"><i class="fa fa-print" aria-hidden="true" style="color: #ff6c3a"></i> &nbsp;PDF &nbsp;  </a></div>
            </div>
        </div>
    </div>
    <div class="row "  ng-if="reportList.length===0">
        <div class="center grid-font"><p>No Report Available</p></div>
    </div>

    <!--<div class="row grid-font" style="padding: 10px !important;" ng-if="reportList" ng-show="gridloading === false ">-->
    <!--<div class="col-lg-12">-->
    <!--<div class="col-lg-12 center">-->
    <!--<button class="grey build-report" style="font-size: 12px !important;" ng-click="addNewReport(true)">Build a new Report<i class="fa fa-plus fa-2x addReportBtn" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row grid-font" style="padding:10px !important;" ng-if="reportList" ng-show="gridloading === false ">-->
    <!--<div class="col-lg-12 center">-->
    <!--<h3>Completed Reports:</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row" ng-show="reportList != null && gridloading === false ">-->
    <!--<div class="col col-lg-2 grid-font grid-text"  ng-repeat="report in reportList | filter: myFilter" >-->
    <!--<div style="height: 10px; cursor: pointer;padding: 0px !important;" class="col-lg-1 dropdown pull-right">-->
    <!--<a title="settings" ng-click="showSettings(report._id);"><i class="fa fa-cog"></i></a>-->
    <!--<div id="settingsDropdown-{{report._id}}" class="dropdown-content">-->
    <!--<a title="Edit this Report" ng-click="editReport(report)" ng-hide="report.dashboardDeleted == true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit &nbsp; </a>-->
    <!--&lt;!&ndash;<a title="Share via Email" ng-click="toggleLegends(report._id)"><i class="fa fa-share" aria-hidden="true"></i> Share</a>&ndash;&gt;-->
    <!--<a title="Delete Widget" ng-click="deleteReport(report)"><i class="glyphicon glyphicon-trash favigon-img"></i>Delete</a>-->
    <!--<a title="Click to open PDF of this report" ng-show="report.pdfLink != null" ng-click="openReportPDF(report)"><i class="fa fa-download" aria-hidden="true"></i> &nbsp;PDF &nbsp;  </a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div style="height: 40px" class="contentName">-->
    <!--<div class="dashboards col-lg-2"  ng-if="(report.name == null || report.name==' ')">-->
    <!--<a style="color:#9A9A9A">Untitled Report</a>-->
    <!--</div>-->

    <!--<div class="dashboards col-lg-2" ng-if="report.name != null">-->
    <!--<a  style="color:#000">{{report.name}}</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="grid-font" ng-if="dashboardList.length===0"><p>No Report Available</p></div>-->

    <!--</div>-->
    <!--<div class="row grid-font" style="padding:10px !important;" ng-if="reportList" ng-show="gridloading === false ">-->
    <!--<div class="col-lg-12 center">-->
    <!--<h3>Drafts:</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row" ng-show="reportList != null && gridloading === false ">-->
    <!--<div class="col col-lg-2 grid-font grid-text"  ng-repeat="report in reportList | filter: {isDraft:true}" >-->
    <!--<div style="height: 10px; cursor: pointer;padding: 0px !important;" class="col-lg-1 dropdown pull-right">-->
    <!--<a title="settings" ng-click="showSettings(report._id);"><i class="fa fa-cog"></i></a>-->
    <!--<div id="settingsDropdown-{{report._id}}" class="dropdown-content">-->
    <!--<a title="Edit this Report" ng-click="editReport(report)" ng-hide="report.dashboardDeleted == true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit &nbsp; </a>-->
    <!--<a title="Share via Email" ng-click="toggleLegends(report._id)"><i class="fa fa-share" aria-hidden="true"></i> Share</a>-->
    <!--<a title="Delete Widget" ng-click="deleteReport(report)"><i class="glyphicon glyphicon-trash favigon-img"></i>Delete</a>-->
    <!--<a title="Click to fuse this widget with other widgets" ng-show="report.pdfLink != null" ng-click="openSettings(report)"><i class="fa fa-download" aria-hidden="true"></i> &nbsp;PDF &nbsp;  </a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div style="height: 40px" class="contentName">-->
    <!--<div class="dashboards col-lg-2"  ng-if="(report.name == null || report.name==' ')">-->
    <!--<a style="color:#9A9A9A">Untitled Report</a>-->
    <!--</div>-->

    <!--<div class="dashboards col-lg-2" ng-if="report.name != null">-->
    <!--<a  style="color:#000">{{report.name}}</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="grid-font" ng-if="dashboardList.length===0"><p>No Report Available</p></div>-->

    <!--</div>-->
    <!--<div class="parallel-dashboard greyish-bg" ng-if="!reportList&& gridloading === false " >-->
    <!--<a><div class="white-bg empty-dashboard"><span style="top:200px !important;"><h3>Build your First Report</h3></span></div></a>-->
    <!--</div>-->
</div>