<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Datapoolt | Confirmation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="image/Favicon.png">
    <title>Datapoolt | Digital Marketing Analytics Tools Reimagined</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="https://datapoolt.co/wp-content/uploads/2016/10/Favicon-Logo@3x.png"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- This site is optimized with the Yoast SEO plugin v3.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description"
          content="Datapoolt helps you connect all your channels and bring the data together on one beautiful dashboard. It is a comprehensive digital marketing analytics tool"/>
    <meta name="robots" content="noindex,follow,noodp"/>
    <link rel="canonical" href="https://datapoolt.co/"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Datapoolt | Digital Marketing Analytics Tools Reimagined"/>
    <meta property="og:description"
          content="Datapoolt helps you connect all your channels and bring the data together on one beautiful dashboard. It is a comprehensive digital marketing analytics tool"/>
    <meta property="og:url" content="https://datapoolt.co/"/>
    <meta property="og:site_name" content="Datapoolt"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description"
          content="Datapoolt helps you connect all your channels and bring the data together on one beautiful dashboard. It is a comprehensive digital marketing analytics tool"/>
    <meta name="twitter:title" content="Datapoolt | Digital Marketing Analytics Tools Reimagined"/>
    <meta name="twitter:creator" content="@NutC"/>
    <script type='application/ld+json'>
        {"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/datapoolt.co\/","name":"Datapoolt","potentialAction":{"@type":"SearchAction","target":"https:\/\/datapoolt.co\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>
    <script type='application/ld+json'>
        {"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/datapoolt.co\/","sameAs":[],"@id":"#organization","name":"Datapoolt","logo":"https:\/\/datapoolt.co\/wp-content\/uploads\/2016\/10\/Artboard@3x.png"}
    </script>
    <!-- / Yoast SEO plugin. -->


    <link rel='stylesheet' id='nrghost-bootstrap-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/bootstrap.min.css?ver=4.6.1' type='text/css'
          media='all'/>


    <link rel='stylesheet' id='nrghost-swiper-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/idangerous.swiper.css?ver=4.6.1'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='nrghost-fontawesome-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/font-awesome.min.css?ver=4.6.1'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='nrghost-like-styles-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/like-styles.css?ver=4.6.1' type='text/css'
          media='all'/>

    <link rel='stylesheet' id='nrghost-style-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/style.css?ver=4.6.1' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='nrghost-animate-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/assets/css/animate.css?ver=4.6.1' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='nrghost-theme-style-css'
          href='https://datapoolt.co/wp-content/themes/nrghost/style.css?ver=4.6.1' type='text/css' media='all'/>
    <link rel='stylesheet' id='js_composer_front-css'
          href='https://datapoolt.co/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=4.12.1'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='jetpack_css-css'
          href='https://datapoolt.co/wp-content/plugins/jetpack/css/jetpack.css?ver=4.3.2' type='text/css'
          media='all'/>
    <script type='text/javascript' src='https://datapoolt.co/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='https://datapoolt.co/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>


    <script type='text/javascript'
            src='https://datapoolt.co/wp-content/plugins/fancier-author-box/js/ts-fab.min.js?ver=1.4'></script>


    <style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1476879763599 {
            background-color: #232c3b !important
        }

        .vc_custom_1434320700537 {
            padding-top: 80px !important;
            padding-bottom: 40px !important
        }

        .vc_custom_1476883341125 {
            background-color: #232c3b !important
        }

        .vc_custom_1434635195037 {
            padding-top: 80px !important;
            padding-bottom: 40px !important
        }

        .vc_custom_1477128707113 {
            margin-bottom: 60px !important
        }

        .vc_custom_1477237317434 {
            margin-bottom: 60px !important
        }</style>
    <noscript>
        <style type="text/css">.wpb_animate_when_almost_visible {
                opacity: 1
            }</style>
    </noscript>
    <link rel="stylesheet" href="https://datapoolt.co/wp-content/themes/nrghost/assets/whmcs/style.css">
    <link rel="stylesheet" type="text/css"
          href="https://datapoolt.co/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen">
    <link rel="icon" href="/image/Favicon.png">
    <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/signUp/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700'
          rel='stylesheet' type='text/css'>


    <!--For Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79014424-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Start of Async Drift Code -->
    <script>
        !function() {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                    t.factory = function(e) {
                        return function() {
                            var n;
                            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();


        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('d933vv82x3ip');
    </script>
    <!-- End of Async Drift Code -->
</head>
<body class="home page page-id-998 page-template-default colour-0 wpb-js-composer js-comp-ver-4.12.1 vc_responsive">
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TS3FXR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TS3FXR');</script>
<!-- End Google Tag Manager -->
<!--LOADER <div id="loader-wrapper"><div class="loader-content"><div class="circle1"></div><div class="circle2"></div><div class="title">Loading</div></div></div> LOADER END-->
<!-- HEADER -->

<header>
    <div class="container">
        <div id="logo-wrapper">
            <div class="cell-view"><a id="logo" href="https://datapoolt.co">
                    <script pagespeed_no_defer="">//<![CDATA[
                        (function () {
                            var g = this, h = function (b, d) {
                                var a = b.split("."), c = g;
                                a[0] in c || !c.execScript || c.execScript("var " + a[0]);
                                for (var e; a.length && (e = a.shift());)a.length || void 0 === d ? c[e] ? c = c[e] : c = c[e] = {} : c[e] = d
                            };
                            var l = function (b) {
                                var d = b.length;
                                if (0 < d) {
                                    for (var a = Array(d), c = 0; c < d; c++)a[c] = b[c];
                                    return a
                                }
                                return []
                            };
                            var m = function (b) {
                                var d = window;
                                if (d.addEventListener)d.addEventListener("load", b, !1); else if (d.attachEvent)d.attachEvent("onload", b); else {
                                    var a = d.onload;
                                    d.onload = function () {
                                        b.call(this);
                                        a && a.call(this)
                                    }
                                }
                            };
                            var n, p = function (b, d, a, c, e) {
                                this.f = b;
                                this.h = d;
                                this.i = a;
                                this.c = e;
                                this.e = {
                                    height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight,
                                    width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
                                };
                                this.g = c;
                                this.b = {};
                                this.a = [];
                                this.d = {}
                            }, q = function (b, d) {
                                var a, c, e = d.getAttribute("pagespeed_url_hash");
                                if (a = e && !(e in b.d))if (0 >= d.offsetWidth && 0 >= d.offsetHeight)a = !1; else {
                                    c = d.getBoundingClientRect();
                                    var f = document.body;
                                    a = c.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop);
                                    c = c.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft);
                                    f = a.toString() + "," + c;
                                    b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.e.height && c <= b.e.width)
                                }
                                a && (b.a.push(e), b.d[e] = !0)
                            };
                            p.prototype.checkImageForCriticality = function (b) {
                                b.getBoundingClientRect && q(this, b)
                            };
                            h("pagespeed.CriticalImages.checkImageForCriticality", function (b) {
                                n.checkImageForCriticality(b)
                            });
                            h("pagespeed.CriticalImages.checkCriticalImages", function () {
                                r(n)
                            });
                            var r = function (b) {
                                b.b = {};
                                for (var d = ["IMG", "INPUT"], a = [], c = 0; c < d.length; ++c)a = a.concat(l(document.getElementsByTagName(d[c])));
                                if (0 != a.length && a[0].getBoundingClientRect) {
                                    for (c = 0; d = a[c]; ++c)q(b, d);
                                    a = "oh=" + b.i;
                                    b.c && (a += "&n=" + b.c);
                                    if (d = 0 != b.a.length)for (a += "&ci=" + encodeURIComponent(b.a[0]), c = 1; c < b.a.length; ++c) {
                                        var e = "," + encodeURIComponent(b.a[c]);
                                        131072 >= a.length + e.length && (a += e)
                                    }
                                    b.g && (e = "&rd=" + encodeURIComponent(JSON.stringify(s())), 131072 >= a.length + e.length && (a += e), d = !0);
                                    t = a;
                                    if (d) {
                                        c = b.f;
                                        b = b.h;
                                        var f;
                                        if (window.XMLHttpRequest)f = new XMLHttpRequest; else if (window.ActiveXObject)try {
                                            f = new ActiveXObject("Msxml2.XMLHTTP")
                                        } catch (k) {
                                            try {
                                                f = new ActiveXObject("Microsoft.XMLHTTP")
                                            } catch (u) {
                                            }
                                        }
                                        f && (f.open("POST", c + (-1 == c.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a))
                                    }
                                }
                            }, s = function () {
                                var b = {}, d = document.getElementsByTagName("IMG");
                                if (0 == d.length)return {};
                                var a = d[0];
                                if (!("naturalWidth" in a && "naturalHeight" in a))return {};
                                for (var c = 0; a = d[c]; ++c) {
                                    var e = a.getAttribute("pagespeed_url_hash");
                                    e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].k && a.height >= b[e].j) && (b[e] = {
                                        rw: a.width,
                                        rh: a.height,
                                        ow: a.naturalWidth,
                                        oh: a.naturalHeight
                                    })
                                }
                                return b
                            }, t = "";
                            h("pagespeed.CriticalImages.getBeaconData", function () {
                                return t
                            });
                            h("pagespeed.CriticalImages.Run", function (b, d, a, c, e, f) {
                                var k = new p(b, d, a, e, f);
                                n = k;
                                c && m(function () {
                                    window.setTimeout(function () {
                                        r(k)
                                    }, 0)
                                })
                            });
                        })();
                        pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'https://datapoolt.co/', 'YddRYU7ik1', true, false, 'uIAJTRPxxIs');
                        //]]></script>
                    <img src="https://datapoolt.co/wp-content/uploads/2016/10/Logo@3x.png" alt="Logo"
                         pagespeed_url_hash="2364594675"
                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></a></div>
        </div>
        <div class="open-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-container">
            <div class="scrollable-container">
                <div class="header-left">
                    <nav class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="">
                            <li id="menu-item-1023"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-998 current_page_item menu-item-1023">
                                <a href="https://datapoolt.co/">Home</a><span class="submenu-icon"><span
                                            class="glyphicon glyphicon-chevron-down"></span></span></li>
                            <li id="menu-item-1032"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1032">
                                <a href="#">Solutions</a><span class="submenu-icon"><span
                                            class="glyphicon glyphicon-chevron-down"></span></span>
                                <ul class="sub-menu">
                                    <li id="menu-item-1038"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1038">
                                        <a href="https://datapoolt.co/datapoolt-for-brands/">For Brands</a><span
                                                class="submenu-icon"><span
                                                    class="glyphicon glyphicon-chevron-down"></span></span></li>
                                    <li id="menu-item-1037"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1037">
                                        <a href="https://datapoolt.co/datapoolt-for-agencies/">For Agencies</a><span
                                                class="submenu-icon"><span
                                                    class="glyphicon glyphicon-chevron-down"></span></span></li>
                                </ul>
                            </li>
                            <li id="menu-item-1039"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1039">
                                <a href="#">Features</a><span class="submenu-icon"><span
                                            class="glyphicon glyphicon-chevron-down"></span></span>
                                <ul class="sub-menu">
                                    <li id="menu-item-1024"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024">
                                        <a href="https://datapoolt.co/marketing-analytics-tool-features/">Product Features</a><span
                                                class="submenu-icon"><span
                                                    class="glyphicon glyphicon-chevron-down"></span></span></li>
                                    <li id="menu-item-1026"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
                                        <a href="https://datapoolt.co/cross-channel-integrations/">Integrations</a><span
                                                class="submenu-icon"><span
                                                    class="glyphicon glyphicon-chevron-down"></span></span></li>
                                </ul>
                            </li>
                            <li id="menu-item-1025"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1025"><a
                                        href="https://datapoolt.co/pricing/">Pricing</a><span
                                        class="submenu-icon"><span
                                            class="glyphicon glyphicon-chevron-down"></span></span></li>
                            <li id="menu-item-1421"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1421"><a
                                        href="http://blog.datapoolt.co">Blog</a><span class="submenu-icon"><span
                                            class="glyphicon glyphicon-chevron-down"></span></span></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="content-wrapper" style="background-color: #ffffff">

    <div class="container-above-header"></div>
    <div class="blocks-container">
        <div class="block login-register-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                    <h1 style="font-size: 20px;line-height: 44px;">
                        <b>An email has been sent to your ID for verification. Please click on the verification link from your
                            email to proceed</b>
                    </h1>
                </div>
                <div class="col-md-6 col-md-offset-3 wow fadeInUp">


                    <!--<form id="update" action="/">
                        <div class="signupButton">
                            <input style="width: 30%;" type="submit" class="button" value="BACK TO HOME">
                        </div>
                        &lt;!&ndash;<input class="btn btn-primary" style="margin-left: 486px;margin-top: 7px;" type="submit"
                               value="BACK TO HOME">&ndash;&gt;
                    </form>-->

                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="footer-container">
    <footer class="details">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img alt="logo" class="logo" src="https://datapoolt.co/wp-content/uploads/2016/10/Logo@3x.png">
                    <p>
                        Compare KPIs across channels. Marketing Analytics software from Datapoolt helps you measure the
                        results of your marketing strategy.&nbsp;</p>
                </div>
                <div class="col-sm-4">
                    <h1>Contact Us</h1>
                    <p>
                        hello@datapoolt.co<br>
                        +91 80561 38326<br>
                        <br>
                        140 Janaki Commercial Complex<br>LB Road Thiruvanmiyur<br>Chennai 600041</p>
                </div>
                <div class="col-sm-4">
                    <h1>Get Social with us</h1>
                    <ul class="social-icons">
                        <li>
                            <a href="https://twitter.com/datapoolt" target="_blank">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/datapoolt" target="_blank">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/company/datapoolt" target="_blank">
                                <i class="icon social_linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="sub">© Copright 2016&nbsp;<b>Cormallen Digital</b>&nbsp;- All Rights Reserved</span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>//<![CDATA[
    var _wpcf7={"loaderUrl":"https:\/\/datapoolt.co\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ..."};
    //]]></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5.1'></script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201644'></script>
<script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2016Novaa'></script>
<script type='text/javascript'>//<![CDATA[
    var WPGroHo={"my_hash":""};
    //]]></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/bootstrap.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/idangerous.swiper.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/jquery.scrollTo.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/post-like.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/map.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/wow.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/themes/nrghost/assets/js/global.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-includes/js/comment-reply.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/easy-twitter-feed-widget/lib/js/widget-easy-twitter-feed-widget.js?ver=1.0'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-includes/js/wp-embed.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=4.12.1'></script>
<script type='text/javascript' src='https://datapoolt.co/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min.js?ver=4.12.1'></script>
<!--<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='1MPX5KQO5V';window._fcURL='https://datapoolt.freshchat.io';</script>-->
</body>
</html>