<html>
<head>
    <script src="js/jquery/jquery-2.1.1.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <style>
        .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
            outline: 0px !important;
            outline-offset: -2px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newPassword,#retypePassword").keyup(function () {
                if (($("#newPassword").val() == $("#retypePassword").val()) && ($("#newPassword").val() != "") && ($("#retypePassword").val() != "")) {
                    $("#pwmatch").removeClass("glyphicon-remove");
                    $("#pwmatch").addClass("glyphicon-ok");
                    $("#pwmatch").css("color", "#00A41E");
                    $("#password-res").html("Password Match");
                    $('button[type="submit"]').prop('disabled', false);

                }
                else {
                    $("#pwmatch").removeClass("glyphicon-ok");
                    $("#pwmatch").addClass("glyphicon-remove");
                    $("#pwmatch").css("color", "#FF0004");
                    $("#password-res").html("Password Mismatch");
                    $('button[type="submit"]').prop('disabled', true);

                }
            });
        });
    </script>

    <!-- Start of Async Drift Code -->
    <script>
        !function() {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                    t.factory = function(e) {
                        return function() {
                            var n;
                            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();


        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('d933vv82x3ip');
    </script>
    <!-- End of Async Drift Code -->

</head>
<body class="gray-bg">
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-title ibox-fusion" style="vertical-align: middle; padding: 7px 71px 0px !important;">
                <h2 class="font-bold">Password regeneration</h2>

                <span class="mail" style="font-family: Helvetica,Arial,sans-serif;margin-left: 73px">
                    <b><%= mailId %></b>
                </span>
            </div>
            <div class="ibox-content" style="border-style: none !important;">

                <div class="row">
                    <div class="col-lg-12">
                            <form role="form" action="/updateNewPassword" method="get">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label label-font">New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control login-field login-field-password" name="newPassword"
                                               ng-model="newPassword" id="newPassword" required/>
                                    </div>
                                    <label class="col-sm-6 control-label label-font">Retype password</label>
                                    <div class="col-sm-6" >
                                        <input type="password" class="form-control login-field login-field-password" style="margin-top: 5px;margin-bottom: 10px;"
                                               name="retypePassword" id="retypePassword" required/>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <input type="hidden" name="email" value = <%= mailId %>>
                                    <span id="pwmatch" class="glyphicon" style="color:#FF0004; margin-top: 6px"></span> <span
                                            id="password-res"></span>
                                </div>
                            <button type="submit" class="btn btn-primary block  m-b" style="width: 39% !important; margin-left: 125px;background-color: #ff6c3a;border:none !important">Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright Datapoolt
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016-2017</small>
        </div>
    </div>
</div>
<!--<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='1MPX5KQO5V';window._fcURL='https://datapoolt.freshchat.io';</script>-->
</body>
</html>