<!DOCTYPE html>
<html ng-app="inspinia">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title>Datapoolt</title>
    <link rel="icon" href="image/Favicon.png">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="css/datePicker/application.css" rel="stylesheet">
    <!--<link href="css/angular-ui-switch.css" rel="stylesheet">-->
    <link href="css/angular-gridster/angular-gridster.min.css" rel="stylesheet" />
    <link href="css/angular-gridster/style_gridster.css" rel="stylesheet" />

    <!-- Start of Async Drift Code -->
    <script>
        !function() {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                    t.factory = function(e) {
                        return function() {
                            var n;
                            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
            }), t.load = function(t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();


        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('d933vv82x3ip');
    </script>
    <!-- End of Async Drift Code -->

</head>

<body ng-controller="MainCtrl as main" >

<div ui-view> </div>

<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/inspinia.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<!--<script src="https://www.youtube.com/iframe_api"></script>
<script src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>-->
<script src="/js/intro.min.js"></script>
<script src="/bower_components/angular-intro.js/build/angular-intro.min.js"></script>
<script src="/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<!--<script src="/bower_components/d3/d3.min.js"></script>-->
<script src="/bower_components/highcharts/highcharts.js"></script>
<script src="/bower_components/highcharts/highcharts-more.js"></script>
<script src="/bower_components/highcharts/modules/exporting.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<!--<link rel="stylesheet" href="/css/nv.d3.css">-->
<link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
<script src="bower_components/moment/moment.js"></script>

<link href="bower_components/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>

<script src="js/angular/angular-sanitize.min.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/plugins/angular-idle/angular-idle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.js"> </script>
<!--<script src="js/angular-ui-switch.js"></script>-->
<script src="minifiedjs/shareUrl.min.js"></script>
<script src="js/reportConfig.js"></script>
<!--<script src="js/app.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
<script src="js/viewController/mainController.js"></script>
<script src="js/viewController/customWidgetController.js"></script>
<script src="js/viewController/sharedDashboardController.js"></script>
<script src="js/viewController/navigationController.js"></script>-->
<!--<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='1MPX5KQO5V';window._fcURL='https://datapoolt.freshchat.io';</script>-->
</body>
</html>
